* {
box-sizing: border-box;
}

body {
max-width: 1080px;
margin: 0 auto 0 auto;
font-size: 15px;
font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

#nav-pc {
    font-size: 14px;
    padding-top: 15px;
}

#nav-pc > a {
    text-decoration: none;
}

#nav-pc > a:hover {
    text-decoration: underline;
}

#nav-pc > ul {
    padding-left: 0;
}
#nav-pc > li {
    display: inline;
    list-style: none;
    margin-right: 30px;
}

#main-visual {
    position: relative;
    height: 400px;
}

#main-message {
position: absolute;
top: 0;
left: 0;
background-color: #04414a;
color: #ffffff;
border-radius: 0 0 150px 0;
height: 100%;
width: 100%;
max-width: 620px;
z-index: 11;
}

#main-message > h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 100px 0 0 50px;
}

#main-massage > p {
    font-size: 28px;
    margin: 0 0 0 50px;
}

#main-visual > img {
    max-width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}